
body {
  padding: 0px;
  margin: 0px;
}

body, html {
  height: 100%;
}

#header {
  background-color: transparent;
  display: block;
  /*display: flex; /* see https://stackoverflow.com/a/19038859 */
  z-index: 500;
}

.open #header {
  width: 100%;
  background-color: lightgray;
}

#menuButton {
  background-color: lightgreen;
  display: inline-block;
  text-decoration: none;
  color: darkgreen;
  width: 1em;
  border-bottom-right-radius: 0.4em;
  position: fixed;
  z-index: 500;
}

.open #menuButton {
  border-bottom-right-radius: 0em;
  position: static;
}

#header .element {
  display: inline-block;
  text-align: center;
  padding: 0.5em;
  font-size: 2em;
}

#header .element:hover {
  background-color: gray;
}

#header .tab {
  display: none;
}

.open #header .tab {
  display: inline-block;
}

.sidebar {
  display: none;
  padding: 1em;
  /*background-color: rgba(1,1,1,0.3);*/
  background-color: white;
}

.open .sidebar {
  display: inline-block;
}

#config input {
  width: 13em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
}

.hidden {
  display: none;
}

.open .hidden {
  display: none;
}

#map {
  display: inline;
  width: 100%;
  position: absolute;
}
.open #map {
  width: initial;
  width: -moz-available;
}

#mapRouters {
  position: relative; /* for placement of routers see https://stackoverflow.com/a/105035 */
  display: block;
}

#main {
  display: table;
  width: 100%;
  height: 100%;
}

.routerList, #ips {
  padding: 0.2em;
}

.routerList .router, #ips .ip, #routerSources .source {
  padding: 0.3em;
  display: block;
  text-decoration: none;
}

.routerList .router:hover, #ips .ip:hover,
    #connectionDestination:hover, #connectionSource:hover,
    #routerSources .source:hover {
  background-color: lightgray;
  border-radius: 0.2em;
}
.routerList .router:hover {
  /* cursor see https://www.w3schools.com/csSref/tryit.asp?filename=trycss_cursor */
  cursor: grab;
}

#size {
  /*position: absolute;*/
  width: 100%;
  z-index: -600;
  overflow: hidden;
}

#sizeDragBlock {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.routerList .router.hasNeighborOnMap {
  background-color: lightgray;
}

.routerList .router.visible {
  background-color: lightgreen;
}

.routerList .router.visible:hover {
  background-color: green;
}

#map .router {
  width: 2em;
  height: 2em;
  line-height: 2em;
  background-color: white;
  border-color: lightgreen;
  border-radius: 2em;
  border-width: 0.3 em;
  border-style: solid;
  position: absolute;
  transform: translate(-50%, -50%); /* https://stackoverflow.com/a/16299904 */
}

#map .router.internet {
  background-color: lightgreen;
}

#map .routerText {
  z-index: 200;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%); /* https://stackoverflow.com/a/16299904 */
}

#map .connection {
  position: absolute;
  height: 0px;
  border-width: 0.2em;
  border-radius: 0.2em;
  border-style: solid;
  z-index: 100;
}
#map .connection.bad, #connectionWrapper.bad,
    #router.sidebar .bad {
  border-color: #bb3333;
}
#map .connection.still-usable, #connectionWrapper.still-usable,
    #router.sidebar .still-usable {
  border-color: #ff6600;
}
#map .connection.good, #connectionWrapper.good,
    #router.sidebar .good {
  border-color: #ffcb05;
}
#map .connection.very-good, #connectionWrapper.very-good,
    #router.sidebar .very-good {
  border-color: #00cc00;
}

#router.sidebar .bad .ip, #connectionWrapper.bad #connectionEtx {
  background-color: #bb3333;
}
#router.sidebar .still-usable .ip, #connectionWrapper.still-usable #connectionEtx {
  background-color: #ff6600;
}
#router.sidebar .good .ip, #connectionWrapper.good #connectionEtx {
  background-color: #ffcb05;
}
#router.sidebar .very-good .ip, #connectionWrapper.very-good #connectionEtx {
  background-color: #00cc00;
}
#router.sidebar .ip,#router.sidebar .etx, #router.sidebar .lq, #connectionEtx,
    #connectionSource, #linkQuality, #connectionDestination {
  width: 100%;
  display: block;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
#router.sidebar .ip:hover, #router.sidebar .etx:hover {
  background-color: lightgray;
}
#router.sidebar .etx img {
  height: 1em;
  vertical-align: middle;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#router.sidebar .connection, #connectionWrapper {
  border-width: 0.3em;
  border-style: solid;
  border-radius: 0.3em;
  margin-bottom: 0.3em;
  text-align: center; 
}
#mid {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
#routes .route {
  padding: 0.3em;
}
#routes .gateway img {
  height: 1.5em;
  vertical-align: middle;
  padding-left: 0.3em;
}

#useRouterAsSource {
  display: block;
  padding-bottom: 0.5em;
}

#useRouterAsSource.hidden, #config input.hidden {
  display: none;
}

#config .centered {
  display: block;
  text-align: center;
  padding: 0.3em;
}

